.custom-button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 0;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.5s ease;
}

.custom-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #4caf50;
  transition: background-color 0.5s ease, transform 0.5s ease;
  transform: translateX(-100%);
}

.custom-button:hover {
  background-color: #4caf50;
  color: white;
}

.custom-button:hover::before {
  background-color: #4caf50;
  transform: translateX(0);
}
