.marquee {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background-color: #fff;
}

.marquee-content {
  display: flex;
  gap: 60px;
  animation: marquee 20s linear infinite;
}

.marquee-logo {
  width: 500px;
  height: 125px;
  object-fit: contain;
}

@keyframes marquee {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}
