.testimonials {
    text-align: center;
    padding: 50px 20px;
    background-color: #265b5e;
  }
  
  .testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .testimonial-container {
    display: flex;
    justify-content: start;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
  }
  
  .testimonial {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .testimonial-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .testimonial-description {
    font-size: 1em;
    color: #555;
  }
  